<ul class="list-unstyled">
  {% for category in categories %}
    {% if not category in exclude %}
      <li><a href="{% url "product_category" category.id %}">{{ category.name }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
