{% extends "registrasion/base.html" %}
{% load bootstrap %}

{% block head_title %}Manual Payment{% endblock %}
{% block page_title %}Manual Payment{% endblock %}

{% block proposals_body %}
  <h2>Invoice {{ invoice.id }} - {{ invoice.get_status_display }}</h2>

  <div class="mb-3">
    <h3>Past payments</h3>

    {% include "registrasion/payment_list.html" with payments=invoice.paymentbase_set.all %}
  </div>

  <div class="mb-3">
    <h3>Apply manual payment</h3>

    <p>Enter a reference and the amount of the payment. A refund is a negative
    payment.</p>

    <form class="form-horizontal" method="post" action="">
      {% csrf_token %}

      <table>
          {{ form|bootstrap }}
      </table>

      <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="Apply payment" />
          <a class="btn btn-link" href="{% url "invoice" invoice.id %}">Return to invoice</a>
      </div>
    </form>
  </div>
{% endblock %}
