{% extends "site_base.html" %}
{% load registrasion_tags %}

{% block page_title %}Registration reports{% endblock %}
{% block head_title %}Registration reports{% endblock %}

{% block content %}
<table class="table table-striped">
  {% for report in reports %}
    <tr>
      <td>
        <a href="{{ report.url }}">{{ report.title }}</a>
      </td>
      <td>
        {{ report.description }}
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
