{% load i18n %}
{% load lca2018_tags %}

<div class="row">
  <div class="col-12">
    <h2 class="my-4">{% trans 'Details' %}</h2>
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Status</label>
  <div class="col-md-10">
    <p>
      {{ proposal.status }}
      {% if proposal.cancelled %}
      <span class="badge-danger">WITHDRAWN</p>
      {% endif %}
    </p>
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Proposal Type</label>
  <div class="col-md-10">
    <p>{{ proposal.kind.name|capfirst }}</p>
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Primary Topic</label>
  <div class="col-md-10">
    <p>{{ proposal.get_primary_topic_display }}&nbsp;</p>
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Target Audience</label>
  <div class="col-md-10">
    <p>{{ proposal.get_target_audience_display }}&nbsp;</p>
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Experience Level</label>
  <div class="col-md-10">
    <p>{{ proposal.get_experience_level_display }}</p>
  </div>
</div>

{% if proposal.talk_format %}
<div class="row">
  <label class="list-label col-md-2">Talk Format</label>
  <div class="col-md-10">
    <p>{{ proposal.get_talk_format_display }}</p>
  </div>
</div>
{% endif %}

<div class="row">
  <label class="list-label col-md-2">Submitted by</label>
  <div class="col-md-10">
    <p>{{ proposal.speaker }} &lt;{{ proposal.speaker.email }}&gt;</p>
  </div>
</div>

{% if proposal.additional_speakers.all %}
<div class="row">
  <label class="list-label col-md-2">Additional Speakers</label>
  <div class="col-md-10">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for speaker in proposal.additional_speakers.all %}
        <tr>
          {% if speaker.user %}
          <td>{{ speaker.name }}</td>
          <td>{{ speaker.email }}</td>
          <td>Joined</td>
          {% else %}
          <td>Unknown</td>
          <td>{{ speaker.email }}</td>
          <td>Invitation Sent</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<div class="row">
  <label class="list-label col-md-2">Abstract</label>
  <div class="col-md-10">
    <div class="abstract monospace-text">{{ proposal.abstract_html|safe }}&nbsp;</div>
    <p></p>
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Private Abstract</label>
  <div class="col-md-10">
    <div class="private_abstract monospace-text">{{ proposal.private_abstract_html|safe }}&nbsp;</div>
    <p></p>
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Content Warning</label>
  <div class="col-md-10">
    {% if proposal.content_warning_html %}
    <div class="content_warning monospace-text">{{ proposal.content_warning_html|safe }}</div>
    {% else %}
    <div class="content_warning monospace-text"><b>No Content Warning Provided</b></div>
    {% endif %}
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Project</label>
  <div class="col-md-10">
    {% if proposal.project %}
    <p>{{ proposal.project|safe }}&nbsp;</p>
    {% else %}
    <p><b>None Provided</b></p>
    {% endif %}
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Project URL</label>
  <div class="col-md-10">
    {% if proposal.project_url %}
    <p><a href="{{ proposal.project_url|safe }}">{{ proposal.project_url|safe }}</a>&nbsp;</p>
    {% else %}
    <p><b>None Provided</b></p>
    {% endif %}
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Video URL</label>
  <div class="col-md-10">
    {% if proposal.video_url %}
    <p><a href="{{ proposal.video_url|safe }}">{{ proposal.video_url|safe }}</a>&nbsp;</p>
    {% else %}
    <p><b>None Provided</b></p>
    {% endif %}
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Special Requirements</label>
  <div class="col-md-10">
    {% if proposal.technical_requirements_html %}
    <div class="special_requirements monospace-text">{{ proposal.technical_requirements_html|safe }}</div>
    {% else %}
    <div class="special_requirements monospace-text"><b>No Special Talk Requirements Requested</b></div>
    {% endif %}
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Requires approval from employer?</label>
  <div class="col-md-10">
    <p>{{ proposal.require_approval }}&nbsp;</p>
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Recording Release</label>
  <div class="col-md-10">
    <p>{{ proposal.recording_release }}&nbsp;</p>
  </div>
</div>

<div class="row">
  <label class="list-label col-md-2">Materials Release</label>
  <div class="col-md-10">
    <p>{{ proposal.materials_release }}&nbsp;</p>
  </div>
</div>

<div class="row my-4">
  <h2 class="col-12">
    Speakers
  </h2>
</div>

{% for speaker in proposal.speakers %}
{% if speaker.name %}
<div class="card my-3">
  <h4 class="card-header">{{ speaker.name }}</h4>
  <div class="card-body">
    <div class="row">
      <label class="list-label col-md-2">Local Timezone</label>
      <div class="col-md-10">
        {% if speaker.local_timezone %}
        {{ speaker.local_timezone|safe }}
        {% else %}
        <em>None Provided</em>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <label class="list-label col-md-2">Biography</label>
      <div class="col-md-10 monospace-text">{{ speaker.biography_html|safe }}&nbsp;</div>
    </div>
    <div class="row">
      <label class="list-label col-md-2">Experience</label>
      <div class="col-md-10 monospace-text">{{ speaker.experience_html|safe }}&nbsp;</div>
    </div>
    {% if speaker.accessibility_html %}
    <div class="row">
      <label class="list-label col-md-2">Accessibility Requirements</label>
      <div class="col-md-10 monospace-text">{{ speaker.accessibility_html|safe }}&nbsp;</div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% endfor %}

{% can_manage proposal as can_manage_proposal %}
{% if can_manage_proposal or request.user.speaker_profile in proposal.speakers %}

<div class="row my-4">
  <h2 class="col-12">
    Travel Assistance
  </h2>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Travel</th>
          <th>Accommodation</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for speaker in proposal.speakers %}
        <tr>
          {% if speaker.user %}
          <td>{{ speaker.name }}</td>
          <td>{{ speaker.travel_assistance }}</td>
          <td>{{ speaker.accommodation_assistance }}</td>
          <td><div class="monospace-text">{{ speaker.assistance_html|safe }}</div></td>
          {% else %}
          <td><b>Unconfirmed co-presenter</b></td>
          <td><b>Unknown</b></td>
          <td><b>Unknown</b></td>
          <td><b>Unknown</b></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br />
{% endif %}
