{% extends "symposion/proposals/base.html" %}

{% load i18n %}

{% block page_title %}Submit a Proposal for a {{ kind.name }}{% endblock %}
{% block head_title %}Submit a Proposal for a {{ kind.name }}{% endblock %}

{% block proposals_body %}
    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          {% include "_form_snippet.html" with form=proposal_form %}
          <p>
            You will be able to edit your proposal after it has been submitted. The program committee may ask questions, provide feedback, and even suggest changes to your proposal as part of the review processes.
          </p>
          <input class="btn btn-primary" type="submit" name="finish" value="Submit" />
          <input class="btn btn-secondary" type="submit" name="add-speakers" value="Submit and Add Additional Speakers" />
        </fieldset>
    </form>
{% endblock %}
