{% extends "site_base.html" %}

{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Apply to be a Sponsor" %}{% endblock %}

{% block body_class %}sponsorships{% endblock %}

{% block body %}

    <div class="details">
        <h1>FIXME</h1>
        <p>Fill content out at templates/sym/spon/apply.html</p>
        <p>This was previously a database object<br/>
        Because a CMS that pulls data from a DB isn't enough, need another thing that pulls data directly from the database...</p>
    </div>

    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        <legend>{% trans "Apply to Be a Sponsor" %}</legend>
        {{ form|bootstrap_horizontal }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="Apply" />
            <a class="btn btn-secondary" href="{% url "dashboard" %}">Cancel</a>
            <p class="help-block">
                <small>By submitting this sponsor application you are agreeing to the
 {% comment %}
                 <a href="{% url "pages_page" "sponsor/terms/" %}" target="_blank">terms and conditions</a>.
            {% endcomment %}
            </small>

            </p>
        </div>
    </form>

{% endblock %}
