{% load i18n %}
{% blocktrans with team_name=team team_url=team.get_absolute_url site_name=current_site.name site_url=current_site username=user.username %}
    <p>
        User "{{ username }}" has applied to join <b>{{ team_name }}</b> on {{ site_name }}.
    </p>

    <p>
        To accept this application and see any other pending applications, visit the following url:
        <a href="http://{{ site_url }}{{ team_url }}">http://{{ site_url }}{{ team_url }}</a>
    </p>
{% endblocktrans %}
