{% load i18n %}

<table class="table table-striped table-reviews">
    <thead>
        <th>#</th>
        <th>{% trans "Speaker / Title" %}</th>
        <th class="toggle">Withdrawn?</th>
        <th class="toggle">Audience</th>
        <th class="toggle">Format</th>
        <th>{% trans "Votes" %}</th>
        <th class="toggle">{% trans "Score" %}</th>
        <th class="votes">{% trans "+2" %}</th>
        <th class="votes">{% trans "+1" %}</th>
        <th class="votes">{% trans "-1" %}</th>
        <th class="votes">{% trans "-2" %}</th>
        <th><a href="#" class="tip" title="{% trans "Your Rating" %}"><i class="oi oi-person"></i></a></th>
    </thead>

    <tbody>
        {% for proposal in proposals %}
            <tr class="{{ proposal.user_vote_css }}">
                <td>{{ proposal.number }}</td>
                <td>
                    <a href="{% url "review_detail" proposal.pk %}">
                        <small><strong>{{ proposal.speaker }}</strong></small>
                        <br />
                        {{ proposal.title }}
                    </a>
                </td>
                <td>
                    {% if proposal.cancelled %}
                        <p class="badge-danger">WITHDRAWN</p>
                    {% else %}
                        <p class="badge-success">Not withdrawn</p>
                    {% endif %}</td>
                <td>{{ proposal.get_target_audience_display }}</td>
                {% if proposal.talk_format %}
                <td>{{ proposal.get_talk_format_display }}</td>
                {% else %}
                <td>{{ proposal.kind.name|capfirst }}</td>
                {% endif %}
                <td>{{ proposal.total_votes }}</td>
                <td>{{ proposal.score }}</td>
                <td>{{ proposal.plus_two }}</td>
                <td>{{ proposal.plus_one }}</td>
                <td>{{ proposal.minus_one }}</td>
                <td>{{ proposal.minus_two }}</td>
                <td>{{ proposal.user_vote|default:"" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
