{% extends "symposion/reviews/base.html" %}

{% block head_title %}Reviews - Reviewer Stats ({{ section_slug }}){% endblock %}

{% block body %}
    <h1>Reviewer Stats ({{ section_slug }})</h1>

    <table class="table table-striped">
        <tr>
            <th>
                Reviewer
            </th>
            <th>
                Proposals<br/>Reviewed
            </td>
            <th>
                Comments
            </th>
            <th>
                Avg
            </th>
            <th>
                +2
            </th>
            <th>
                +1
            </th>
            <th>
                &minus;1
            </th>
            <th>
                &minus;2
            </th>
            <th>
                Abstain
            </th>
        </tr>
        {% for reviewer in reviewers %}
        <tr>
            <td>
                <a href="{% url "review_list_user" section_slug reviewer.pk %}">
                    {{ reviewer.get_full_name }} &lt;{{ reviewer.email }}&gt;
                </a>
            </td>
            <td>
                {{ reviewer.total_votes }}
            </td>
            <td>
                {{ reviewer.comment_count }}
            </td>
            <td>
                {{ reviewer.average|floatformat:2 }}
            </td>
            <td>
                {{ reviewer.plus_two }}
            </td>
            <td>
                {{ reviewer.plus_one }}
            </td>
            <td>
                {{ reviewer.minus_one }}
            </td>
            <td>
                {{ reviewer.minus_two }}
            </td>
            <td>
                {{ reviewer.abstain }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
