@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Source+Sans+Pro:400,700&display=swap&subset=latin-ext');
@import "open-iconic-bootstrap.scss";
@import "bootstrap.scss";

/* START LCA BRAND */

$dawn-sea: rgb(0, 177, 197);
$blaze : rgb(250, 166, 26);
$dusk-sea : rgb(0, 113, 144);
$noon-sea : rgb(0, 141, 162);


body {
   font-family: 'Source Sans Pro', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.bg-dawn-sea {
    background-color: $dawn-sea;
}

.bg-blaze {
    background-color: $blaze;
}

.bg-dusk-sea {
    background-color: $dusk-sea;
}

.bg-noon-sea {
    background-color: $noon-sea;
}

.banner-subscribe {
    color: #fff;
}

.page-title {
    font-size: 3rem;
    line-height: 5rem;
}

.navbar-brand {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

.footer {
    border-top: 1px solid $dawn-sea;
}

.footer-logo {
    height: 70px;
}

.footer-image {
    height: 50px;
}

.rego-content {
    border: 1px solid #000;
    background-color: #fff;
}

.presentation-details {
    border-top: 1px solid $noon-sea;
}

.presentation-abstract {
    border-left: 1px solid $noon-sea;
}

.mobile-slot {
    border-bottom: 1px solid $noon-sea;
}

.slot-active {
    background-color: #EECC96;
}

.conf-clock {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 10px;
    z-index: 10;

    .time {
        font-size: 2em;
    }
}

/* END LCA BRAND */

.messagelist {
    margin-bottom: 0;
}

.asteriskField:before { content: ' '; }

label.label-required:after { content: ' *'; }

.abstract, .bio, .monospace-text {
    font-family: Hack, monospace;
    white-space: pre-wrap;
}

@media print {
    .fade {
        &:not(.show) {
            opacity: 100 !important;
        }
    }

    .timetable-day:not(:first-child) {
        break-before: page;
    }
}
