{% extends "site_base.html" %}

{% load static %}

{% block extra_script %}
<script src="{% static 'js/luxon.min.js' %}"></script>
<script src="{% static 'js/schedule.js' %}" type="text/javascript"></script>
{% endblock %}
