{% extends "symposion/schedule/base.html" %}

{% load i18n %}
{% load cache %}
{% load lca2018_tags %}
{% load sitetree %}

{% block head_title %}Presentation Listing{% endblock %}

{% block page_title %}Presentation List{% endblock %}
{% block page_lead %}{{ schedule.section.name }}{% endblock%}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block content %}
  {% cache 600 "schedule-list" schedule.section.name %}
    <ul>
      {% for presentation in presentations %}
        <li>
          <a href="{% url "schedule_presentation_detail" presentation.pk %}">{{ presentation.title }}</a> {{ presentation.proposal.kind }} <em>by</em>
          {{ presentation.speakers|join:", " }}
          {% if presentation.slot %}
            ({{ presentation.slot.day.date|date:"l" }}
            {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
            in
            {{ presentation.slot.rooms|join:", " }})
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endcache %}
{% endblock %}
