{% load i18n %}
{% load proposal_tags %}
{% load review_tags %}
{% load teams_tags %}
{% load registrasion_tags %}
{% load lca2018_tags %}
{% load lca2019_tags %}
{% load static %}
{% load waffle_tags %}

{% if user.is_staff %}
<div class="mb-4">
  <div class="row">
    <div class="col-12">
      <h2>{% trans "Administration" %}</h2>
      <p>The following administrative tools are available to you:
        <ul class="list-unstyled">
          <li><a href="{% url "reports_list" %}">Reports</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endif %}

<div class="mb-4">
  <div class="row">
    <div class="col-12">
      <h2>{% trans "Attend" %} {% conference_name %}</h2>
    </div>
  </div>

  {% if not user.attendee.completed_registration %}
  <div class="row">
    <div class="col-12">
      <h3>Register</h3>
      <p>To attend the conference, you must create an attendee profile and purchase your ticket</p>
      <div>
        <a class="btn btn-lg btn-primary" role="button" href="{% url "guided_registration" %}">Get your ticket</a>
      </div>
    </div>
  </div>
  {% else %}

  {% flag "venueless_dashboard" %}
  {% venueless_login_url as venueless_url %}
  {% if venueless_url %}
  <div class="row">
    <div class="col-12 mb-3">
      <h3>Join the Conference</h3>
      <p>The conference is now open. Please join us to watch talks and interact with the other delegates.</p>
      <div>
        <a class="btn btn-lg btn-primary" role="button" href="{% venueless_login_url %}">Launch Conference</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endflag %}

  <div class="row">
    <div class="col-md-6 mb-3 mb-md-0">
      <h3>Attendee Profile</h3>
      <p>If you would like to change the details on your badge or your attendee statistics, you may edit your attendee profile here.</p>
      <div>
        <a class="btn btn-primary" role="button" href="{% url "attendee_edit" %}">Edit attendee profile</a>
        {% flag "badge_preview" %}
        <a class="btn btn-info" role="button" href="{% url "user_badge" %}">Preview my badge</a>
        {% endflag %}
      </div>
    </div>
    <div class="col-md-6 mb-3 mb-md-0">
      <h3>Account Management</h3>
      <p>If you would like to change your registered email address or password, you can use our self-service account management portal</p>
      <div>
        <a class="btn btn-primary" role="button" href="https://login.linux.conf.au/manage/">Account Management</a>
      </div>
    </div>
  </div>

  {% items_pending as pending %}
  <div class="row">
    <div class="col-12">
      <h3 class="my-3">Account</h3>
    </div>
  </div>

  <div class="row">
    {% if pending %}
    <div class="col-md-6 mb-3">
      <h4>Items pending payment</h4>
      {% include "registrasion/_items_list.html" with items=pending %}
      <a class="btn btn-primary" role="button" href="{% url "checkout" %}"><i class="fa fa-credit-card"></i> Check out and pay</a>
      <a class="btn btn-secondary" role="button" href="{% url "voucher_code" %}">Apply voucher</a>
    </div>
    {% endif %}

    {% items_purchased as purchased %}
    {% if purchased %}
    <div class="col-md-6 mb-3">
      <h4>Paid Items</h4>
      {% include "registrasion/_items_list.html" with items=purchased %}

      {% if not pending %}
      <a class="btn btn-secondary" role="button" href="{% url "voucher_code" %}">Apply voucher</a>
      {% endif %}
    </div>
    {% endif %}

    <div class="col-md-6 mb-3">
      <h4>Add/Update Items</h4>
      {% missing_categories as missing %}
      {% if missing %}
      <div class="alert alert-warning my-4 pb-4">
        <h5 class="alert-heading">You have empty categories</h5>
        <p>You have <em>not</em> selected anything from the following
          categories. If your ticket includes any of these, you still need to
          make a selection:
        </p>

        {% include "registrasion/_category_list.html" with categories=missing %}
      </div>
      {% endif %}

      {% available_categories as available %}
      {% if available|contains_items_not_in:missing %}
      <p><strong>You can change your selection from these categories:</strong></p>
      {% include "registrasion/_category_list.html" with categories=available exclude=missing %}
      {% endif %}
    </div>

    {% invoices as invoices %}
    {% if invoices %}
    <div class="col-md-6 mb-3">
      <h4>Invoices</h4>
      <ul>
        {% for invoice in invoices %}
        <li{% if invoice.is_void %} class="void-invoice" style="display: none;"{% endif %}>
          <a href="{% url "invoice" invoice.id %}" >Invoice {{ invoice.id }}</a> - ${{ invoice.value }} ({{ invoice.get_status_display }})
        </li>
        {% endfor %}
      </ul>
      {% if invoices|any_is_void %}
      <div class="mt-auto">
        <button type="button" class="btn btn-sm btn-outline-dark" id="toggle-void-invoices" onclick="toggleVoidInvoices();">Show void invoices</button>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% flag "raffle_dashboard" %}
    <div class="col-md-6 mb-3">
      <h4>Raffle Tickets</h4>

      <p><a href="{% url "raffle-tickets" %}">View raffle tickets</a></p>
    </div>
    {% endflag %}

    {% available_credit as credit %}
    {% if credit %}
    <div class="col-md-6 mb-3">
      <h4>Credit</h4>
      <p>You have ${{ credit }} leftover from refunded invoices. This credit will be automatically applied to new invoices. Contact the conference organisers if you wish to arrange a refund to your original payment source.</p>
    </div>
    {% endif %}
  </div>
  {% endif %} {# user.attendee.completed_registration #}
</div>
