{% extends "site_base.html" %}
{% load static %}

{% load i18n %}

{% block body_class %}template-blogpage{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}

{% block body %}
  {% block content %}
    <div class="l-content-page">
      <div class="l-content-page--richtext ooops-hack">
        <h2>Ooops</h2>

        <p>The page you're looking for doesn't exist. Sorry!</p>
      </div>
    </div>
  {% endblock %}
{% endblock %}
