{% load sitetree %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-dawn-sea">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static 'img/eo2023.svg' %}" alt="Everything Open 2023 logo" height="56px">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% sitetree_menu from "main" include "trunk" template "sitetree_header.html" %}
  </div>
</nav>
