{% extends "site_base.html" %}
{% load registrasion_tags %}
{% load lca2018_tags %}
{% load static %}

{% block head_title %}Raffle Tickets{% endblock %}
{% block page_title %}Raffle Tickets{% endblock %}

{% block content %}
<p>
  All of the raffles you are entered into and the tickets you have for each of them.
  If available, you will be able to purchase additional raffle tickets from the <a href="{% url "dashboard" %}">Dashboard</a>.
</p>

<h2>Your Raffle Tickets</h2>
{% for raffle in raffles %}
{% if raffle.tickets %}
  <h3 class="mt-3">{{ raffle }}</h3>
  <ul>
   {% for id, numbers in raffle.tickets %}
    <li>
      <strong>Ticket {{ id }}</strong>
      <p>{% for number in numbers %}{{ number }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    </li>
  {% endfor %}
  </ul>
{% endif %}
{% empty %}
<p>You do not have tickets in any raffles.</p>
{% endfor %}
{% endblock %}
